# Dateien sollen nicht im Git-Repo sichtbar sein, um die Sicherheit zu gewährleisten

# Vertrauliche Geheimnisse
secrets/ 

# Ignoriere alle .env-Dateien - sensible Umgebungsvariablen
*.env

# Ignoriere alle .log-Dateien
*.log

